#background-img {
  height: 100vh;
  width: 100vw;
  margin-left: -0.5vw;
}

#register-div {
  border-style: solid;
  background-color: #f2f2f2;
  opacity: .95;
  padding: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 500px;
  max-width: 500px;
  height: 500px;
  max-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  font-size: 40px;
  text-align: center;
  display: block;
  margin: auto;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-attachment: fixed;
}

#register-div input {
  background-color: #d9d9d9;
}

#error-text {
  text-align: center;
  display: block;
  margin: auto;
}
